<!-- <section [dir]="currentLang =='en' ? 'ltr' : 'rtl'">
    
    <div class="py-5 px-3 rounded-4">
        <div class="d-flex justify-content-around gap-5">
            <span class="rounded-3 px-2 shadow-sm cursor-pointer" (click)="onNoClick()">
                <i class="fas fa-close text-secondary mt-2"></i>
            </span>
            <span class="fs-5">
                {{'devices.add_model'|translate}}
            </span>
            <span></span>
        </div>
        <div mat-dialog-content>
            <form [formGroup]="manufacturersForm">
                <div>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label class="text-orange">{{'devices.name_en' | translate}}</mat-label>
                        <input formControlName="name_en" matInput placeholder="{{'devices.name_en' | translate}}" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label class="text-orange">{{'devices.name_ar' | translate}}</mat-label>
                        <input formControlName="name_ar" matInput placeholder="{{'devices.name_ar' | translate}}" />
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div class="text-start">
            <button class="primary mb-2 text-white" [disabled]="manufacturersForm.invalid" mat-button
                [mat-dialog-close]="manufacturersForm" cdkFocusInitial>
                {{'save'|translate }}
            </button>
        </div>
    </div>
</section> -->


<section>
    <h1 mat-dialog-title class="mb-4 text-center w-100 bg-orange text-dark">
        {{ (isEditing ? 'devices.edit_model' : 'devices.add_model') | translate }}
    </h1>
    <div mat-dialog-content>
        <form [formGroup]="deviceModalForm">
            <div class="grid grid-col-1 md:grid-col-2 gap-2">
                <div class="">

                    <app-label>{{'department.name_en' | translate}}</app-label>
                    <app-input-field formControlName="name_en"
                        placeholder="{{'department.name_en' | translate}}"></app-input-field>
                </div>
                <div class="">
                    <app-label>{{'department.name_ar' | translate}}</app-label>
                    <app-input-field formControlName="name_ar"
                        placeholder="{{'department.name_ar' | translate}}"></app-input-field>

                </div>

            </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-between mt-6">

        <app-button [disabled]="deviceModalForm.invalid" (clicked)="onSubmit()">{{'save'|translate }}</app-button>
        <app-button (clicked)="onNoClick()">{{'cancel'|translate }}</app-button>


    </div>
</section>