<section>
    <div *ngIf="_AuthService.isAdmin()" class="mt-6 ltr:text-right rtl:text-left">
        <app-button (clicked)="openAddEquipment()"
            [startIcon]="'add_circle'">{{'breadCrumb.add_new_equipment'|translate}}</app-button>
    </div>


    <!-- Statistics Section -->
    <div class="mt-8">

        <app-component-card [title]="'equipments.equipments' | translate">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">

                <app-StatCard [title]="'equipments.total-equipment' | translate" [icon]="'group'"
                    [number]="tableData.length" [colorClass]="'text-blue-500'">
                </app-StatCard>
                <app-StatCard [title]="'equipments.active-equipment' | translate" [icon]="'group'"
                    [number]="tableData.length" [colorClass]="'text-blue-500'">
                </app-StatCard>
                <app-StatCard [title]="'equipments.equipment-maintenance' | translate" [icon]="'group'"
                    [number]="tableData.length" [colorClass]="'text-blue-500'">
                </app-StatCard>
                <app-StatCard [title]="'equipments.out-of-service' | translate" [icon]="'group'"
                    [number]="tableData.length" [colorClass]="'text-blue-500'">
                </app-StatCard>



            </div>
        </app-component-card>
    </div>


    <div class="mt-6">
        <app-basic-table-three [haveView]="false" [data]="tableData" [columns]="columns"
            [title]="'equipments.equipments' | translate" (doAction)="tableAction($event)"></app-basic-table-three>

    </div>
</section>