<section>
    <div *ngIf="_AuthService.isAdmin()" class="mt-6 ltr:text-right rtl:text-left">
        <app-button (clicked)="openAddDepartment()"
            [startIcon]="'add_circle'">{{'breadCrumb.add_new_department'|translate}}</app-button>
    </div>


    <!-- Statistics Section -->
    <div class="mt-8">

        <app-component-card [title]="'department.department' | translate">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">

                <app-StatCard [title]="'department.total-departments' | translate" [icon]="'group'"
                    [number]="tableData.length" [colorClass]="'text-blue-500'">
                </app-StatCard>
                <app-StatCard [title]="'department.medical-departments' | translate" [icon]="'group'"
                    [number]="tableData.length" [colorClass]="'text-blue-500'">
                </app-StatCard>
                <app-StatCard [title]="'department.administrative-departments' | translate" [icon]="'group'"
                    [number]="tableData.length" [colorClass]="'text-blue-500'">
                </app-StatCard>
                <app-StatCard [title]="'department.inactive-departments' | translate" [icon]="'group'"
                    [number]="tableData.length" [colorClass]="'text-blue-500'">
                </app-StatCard>


            </div>
        </app-component-card>
    </div>


    <div class="mt-6">
        <app-basic-table-three [haveView]="false" [data]="tableData" [columns]="columns"
           (searchEvent)="handleSearch($event)" [title]="'department.department' | translate" (doAction)="tableAction($event)"></app-basic-table-three>
        <!-- <ng-template #statusTemplate let-item="item">
      <app-badge [colorId]="item.status?.id">
        {{ item.status.name }}
      </app-badge>
    </ng-template> -->
    </div>
</section>