<div class="max-w-full overflow-x-auto custom-scrollbar">
  <!-- <div id="chartOne" class="min-w-[1000px]">
    <apx-chart
      [series]="series"
      [chart]="chart"
      [colors]="colors"
      [plotOptions]="plotOptions"
      [dataLabels]="dataLabels"
      [stroke]="stroke"
      [xaxis]="xaxis"
      [yaxis]="yaxis"
      [legend]="legend"
      [grid]="grid"
      [fill]="fill"
      [tooltip]="tooltip"
    ></apx-chart>
  </div> -->
  <div id="chart-1" class="md:min-w-[1000px] sm:min-w-[400px] 2xl:min-w-full">
    <apx-chart [series]="series" [chart]="chart" [colors]="colors" [plotOptions]="plotOptions" [dataLabels]="dataLabels"
      [xaxis]="xaxis" [yaxis]="yaxis" [legend]="legend" [responsive]="responsive"></apx-chart>
  </div>
</div>