<div>
  <section class="container mx-auto px-3 py-4">
    <div class="flex justify-between items-center mb-4">

      <h6>{{ "devices.details" | translate }}</h6>
      <app-button [routerLink]="['add-work-order']" [startIcon]="'add_circle'">
        {{ "devices.add" | translate }}
      </app-button>
    </div>

    <div class="my-3 w-1/2">
      <h6>{{ "devices.basic_information" | translate }}</h6>
      <div class="flex mt-2">
        <img [src]="deviceData?.image" [alt]="deviceData?.name" class="w-1/4" />
        <span>{{ deviceData?.name }}</span>
      </div>

    </div>

    <hr class="my-3 border-gray-300" />

    <!-- Device Details -->
    <div class="grid grid-cols-4 gap-4">
      <!-- Department -->
      <div class="flex items-center justify-between">
        <div class="mx-3 text-sm">
          <h6>{{ "devices.department" | translate }}</h6>
          <p class="mt-4">{{ deviceData?.department?.name }}</p>
        </div>
        <div class="border-l h-10"></div>
      </div>

      <!-- Company -->
      <div class="flex items-center justify-between">
        <div class="mx-3 text-sm">
          <h6>{{ "devices.company" | translate }}</h6>
          <p class="mt-4">{{ deviceData?.company?.name }}</p>
        </div>
        <div class="border-l h-10"></div>
      </div>

      <!-- Model -->
      <div class="flex items-center text-sm">
        <div class="mx-3">
          <h6>{{ "devices.model" | translate }}</h6>
          <p class="mt-4">{{ deviceData?.model?.name }}</p>
        </div>
      </div>

      <!-- Serial Number -->
      <div class="flex items-center justify-between">
        <div class="mx-3 text-sm">
          <h6>{{ "devices.serial_number" | translate }}</h6>
          <p class="mt-4">{{ deviceData?.serial_number }}</p>
        </div>
        <div class="border-l h-10"></div>
      </div>

      <!-- Purchase Date -->
      <div class="flex items-center justify-between mt-3">
        <div class="mx-3 text-sm">
          <h6>{{ "devices.purchase_date" | translate }}</h6>
          <p class="mt-4">{{ deviceData?.buy_date }}</p>
        </div>
        <div class="border-l h-10"></div>
      </div>

      <!-- Warranty -->
      <div class="flex items-center mt-3 text-sm">
        <div class="mx-3">
          <h6>{{ "devices.warranty_period" | translate }}</h6>
          <p class="mt-4">{{ deviceData?.warranty_period }}</p>
        </div>
        <div class="border-l h-10"></div>

      </div>

      <!-- QR -->
      <div class="mt-3 flex items-center flex-col justify-center">
        <img [src]="deviceData?.qr_code" [alt]="deviceData?.model?.name" class="w-1/4" />
        <button class="text-white text-decoration-underline cursor-pointer bg-blue-400 rounded-lg mt-4 w-50 h-11"
          printSectionId="print-section" [printStyle]="{'.printStyle' : {'text-align':'center'}}" printTitle="Device"
          ngxPrint>
          {{'devices.print' | translate}}
        </button>
      </div>
      <div id="print-section" class="hidden">
        <div [dir]="currentLang == 'en' ? 'ltr' : 'rtl'" class="printStyle">
          <img [src]="deviceData?.qr_code" [alt]="deviceData?.model?.name" />
          <p>{{ deviceData?.name }}</p>
          <p>{{ "devices.serial_number" | translate }} : {{deviceData?.serial_number }}</p>
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="mt-5 bg-gray-100 rounded-xl p-4">
      <h6>{{ "devices.description" | translate }}</h6>
      <p>{{ deviceData?.description }}</p>
    </div>

    <!-- Work Orders -->
    <div class="my-5" *ngIf="deviceWork.length > 0">
      <div class="flex justify-between items-center">
        <h4>{{ "devices.record_work_orders" | translate }}</h4>
        <a class="text-info cursor-pointer flex items-center gap-1">
          {{ "devices.view_more" | translate }}
          <i class="fa-solid fa-angles-left"></i>
        </a>
      </div>

      <!-- Work Orders List -->
      <ng-container *ngFor="let work of deviceWork">
        <div class="bg-white rounded-xl border p-3 my-3" (click)="handleNavigate(work?.id)" role="button">
          <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
              <img src="../../../../../assets/images/Avatar.png" alt="admin-img" width="25" />
              <span class="font-bold">{{ work?.engineer?.name }}</span>
            </div>
            <div>
              <p>{{ work?.created_at | date }}</p>
            </div>
          </div>

          <hr class="my-2 border-gray-200" />

          <div class="flex justify-between items-center">
            <div class="flex gap-10 text-sm">
              <div>
                <h6>{{ "devices.work_order_number" | translate }}</h6>
                <p>{{ work?.number }}</p>
              </div>

              <div>
                <h6>{{ "devices.order_type" | translate }}</h6>
                <p>{{ work?.work_type?.name }}</p>
              </div>

              <div>
                <h6>{{ "devices.creation_date" | translate }}</h6>
                <p>{{ work?.created_at | date }}</p>
              </div>

              <div>
                <h6>{{ "devices.execution_date" | translate }}</h6>
                <p>{{ work?.start_time | date }}</p>
              </div>
            </div>

            <div>
              <app-badge [colorId]="getOrderNumberById(work.status?.id)">
                {{ work?.status?.name }}
              </app-badge>

            </div>
          </div>
        </div>
      </ng-container>




    </div>
  </section>
</div>