<div class="relative p-6 bg-white dark:bg-gray-900 sm:p-0">
  <div class="relative flex flex-col justify-center w-full h-screen lg:flex-row">

    <!-- Projected Login/Sign-in form -->
    <ng-content></ng-content>

    <div class="hidden lg:flex w-full lg:w-1/2 h-full relative bg-gray-800 items-end justify-center overflow-hidden">

      <!-- Slides -->
      <ng-container *ngFor="let slide of slides; let i = index">
        <img [src]="slide.image" class="absolute inset-0 w-full h-full object-fill transition-opacity duration-1000"
          [ngClass]="{
        'opacity-100': i === activeIndex,
        'opacity-0': i !== activeIndex
      }" alt="Login Background" />
      </ng-container>

      <!-- Overlay -->
      <div class="absolute inset-0 bg-black/30"></div>

      <!-- Text Box -->
      <div class="absolute bottom-14 left-1/2 -translate-x-1/2 px-6 py-4
           bg-gray-200/60 dark:bg-gray-700/80
           text-gray-900 dark:text-white
           rounded-xl text-center max-w-md w-11/12 shadow-md">

        <p class="text-base font-semibold mb-1">
          {{ slides[activeIndex].title | translate }}
        </p>
        <p class="text-sm text-gray-700 dark:text-gray-300">
          {{ slides[activeIndex].text | translate }}
        </p>

        <!-- Indicators -->
        <div class="mt-4 flex justify-center gap-2">
          <span *ngFor="let _ of slides; let i = index" (click)="goToSlide(i)"
            class="h-1.5 w-6 rounded-full cursor-pointer transition-all duration-300" [ngClass]="{
          'bg-blue-600 w-8': i === activeIndex,
          'bg-gray-400': i !== activeIndex
        }">
          </span>
        </div>
      </div>
    </div>


    <!-- Theme Toggle -->
    <div class="fixed z-50 bottom-6 right-6 sm:block">
      <app-theme-toggle-two></app-theme-toggle-two>
    </div>

  </div>
</div>