<section>
    <h1 mat-dialog-title class="mb-4 text-center w-100 bg-orange text-dark">
        {{ (isEditing ? 'department.edit' : 'department.add') | translate }}

    </h1>
    <div mat-dialog-content>
        <form [formGroup]="departmentForm">
            <div class="grid grid-col-1 md:grid-col-2 gap-2">
                <div class="">

                    <app-label>{{'department.name_en' | translate}}</app-label>
                    <app-input-field formControlName="name_en"
                        placeholder="{{'department.name_en' | translate}}"></app-input-field>
                </div>
                <div class="">
                    <app-label>{{'department.name_ar' | translate}}</app-label>
                    <app-input-field formControlName="name_ar"
                        placeholder="{{'department.name_ar' | translate}}"></app-input-field>

                </div>
                <div class="">
                    <app-label>{{'department.maintenance_supervisor.name' | translate}}</app-label>
                    <app-select formControlName="maintenance_supervisor_id" [options]="tableData"></app-select>

                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="flex justify-between mt-6">

        <app-button [disabled]="departmentForm.invalid" (clicked)="onSubmit()">{{'save'|translate }}</app-button>
        <app-button (clicked)="onNoClick()">{{'cancel'|translate }}</app-button>


    </div>
</section>