<div class="flex flex-col justify-center flex-1 w-full max-w-md mx-auto">
  <div class="pb-5">
    <div class="mb-5 sm:mb-8">

      <div class="flex justify-center">
        <img class="logo" class="object-contain mx-auto 
         w-[120px] h-[120px]
         sm:w-[150px] sm:h-[150px]
         md:w-[180px] md:h-[180px]
         " src="assets/images/logo.png" alt="" />

      </div>

      <div class="content text-center md:rtl:text-right md:ltr:text-left  mt-4">
        <h2 class="text-2xl font-semibold">
          {{ 'home.hello' | translate }}
        </h2>

        <p class="text-gray-600 dark:text-gray-300 mt-2">
          {{ 'register.welcome' | translate }}
        </p>

        <h6 class="text-sm text-gray-700 dark:text-gray-300 mt-3">
          {{ 'register.account' | translate }}
          <a routerLink="/signin" class="text-brand-500 hover:text-brand-600 dark:text-brand-400 underline ml-1">
            {{ 'login.login' | translate }}
          </a>
        </h6>
      </div>

    </div>



    <form [formGroup]="registerForm">
      <div class="space-y-5">

        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
          <div class="sm:col-span-1">
            <app-label>
              {{'register.userName' | translate}}<span class="text-error-500">*</span>
            </app-label>
            <app-input-field type="text" id="lname" name="lname" placeholder="{{'register.enterUserName' | translate}}"
              formControlName="name" />
          </div>

          <!-- Email -->
          <div class="sm:col-span-1">
            <app-label>
              {{'register.email' | translate}} <span class="text-error-500">*</span>
            </app-label>
            <app-input-field formControlName="email" type="email" id="email" name="email"
              placeholder="{{'register.enterEmail' | translate}}" />
          </div>
        </div>
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
          <div class="sm:col-span-1">
            <app-label>{{ 'register.name' | translate }}</app-label>
            <app-input-field type="text" id="lname" name="lname" placeholder="{{'register.name' | translate}}"
              formControlName="user_name" />
          </div>
          <div class="sm:col-span-1">
            <app-label>{{ 'orders.mobile' | translate }}</app-label>
            <app-phone-input formControlName="mobile"></app-phone-input>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
          <div class="sm:col-span-1">
            <app-label>{{ 'register.title' | translate }}</app-label>
            <app-select formControlName="title_id" [options]="titles"></app-select>

          </div>
          <div class="sm:col-span-1">
            <app-label>{{ 'register.department' | translate }}</app-label>
            <app-select formControlName="department_id" [options]="departments"></app-select>

          </div>
        </div>



        <!-- Password -->
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
          <div class="sm:col-span-1">
            <app-label>{{'register.password' | translate}} <span class="text-error-500">*</span></app-label>
            <div class="relative">
              <app-input-field [type]="showPassword ? 'text' : 'password'"
                placeholder="{{'register.enterPassword' | translate}}" name="password" class="form-input"
                formControlName="password" />
            </div>

          </div>
          <div class="sm:col-span-1">
            <app-label>{{'register.confirmPassword' | translate}} <span class="text-error-500">*</span></app-label>
            <div class="relative">
              <app-input-field [type]="showPassword ? 'text' : 'password'"
                placeholder="{{'register.enterPassword' | translate}}" name="passwordd" class="form-input"
                formControlName="password_confirmation" />

            </div>
          </div>
        </div>

        <!-- Checkbox -->
        <div class="flex items-center gap-3">
          <app-checkbox formControlName="'accept" className="w-5 h-5" />
          <p class="inline-block font-normal text-gray-500 dark:text-gray-400">
            {{'terms.agree_text' | translate}}
            <span class="text-gray-800 dark:text-white/90">
              {{'terms.terms_conditions' | translate}}
            </span>
            <span class="text-gray-800 dark:text-white">
              {{'terms.privacy_policy' | translate}}
            </span>
          </p>
        </div>
        <!-- Button -->
        <div>

          <app-button [isLoading]="isRegister" (clicked)="onSignIn()" className="w-full" size="sm"
            [disabled]="registerForm.invalid">
            {{'register.create' | translate}}
          </app-button>
        </div>
      </div>
    </form>


  </div>
</div>