<section>
    <div *ngIf="_AuthService.isAdmin()" class="mt-6 ltr:text-right rtl:text-left">
        <app-button (clicked)="addDevices()"
            [startIcon]="'add_circle'">{{'devices.add_new_device'|translate}}</app-button>
    </div>


    <!-- Statistics Section -->
    <div class="mt-8">

        <app-component-card [title]="'sidebar.devices' | translate">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">

                <app-StatCard [title]="'sidebar.devices' | translate" [icon]="'group'" [number]="tableData.length"
                    [colorClass]="'text-blue-500'">
                </app-StatCard>
                <app-StatCard [title]="'devices.active' | translate" [icon]="'group'" [number]="tableData.length"
                    [colorClass]="'text-blue-500'">
                </app-StatCard>
                <app-StatCard [title]="'devices.notActive' | translate" [icon]="'group'" [number]="tableData.length"
                    [colorClass]="'text-blue-500'">
                </app-StatCard>
                <app-StatCard [title]="'devices.notActive' | translate" [icon]="'group'" [number]="tableData.length"
                    [colorClass]="'text-blue-500'">
                </app-StatCard>


            </div>
        </app-component-card>
    </div>


    <div class="mt-6">
        <app-basic-table-three (searchEvent)="handleSearch($event)"  [data]="tableData" [columns]="columns" [title]="'sidebar.devices' | translate"
            (doAction)="tableAction($event)" [totalItems]="tableResponse"></app-basic-table-three>
        <!-- <ng-template #statusTemplate let-item="item">
      <app-badge [colorId]="item.status?.id">
        {{ item.status.name }}
      </app-badge>
    </ng-template> -->
    </div>
</section>