<section>
  @if(_AuthService.isAdmin()){
  <div class="mt-6 ltr:text-right rtl:text-left">
    <app-button (clicked)="openAddSource()" [startIcon]="'add_circle'">{{
      "breadCrumb.add_new_source" | translate
      }}</app-button>
  </div>
  }

  <div class="mt-6">
    <app-basic-table-three [totalItems]="tableResponse" [placeholderSearch]="'table.search_name_ar' | translate"
      [haveView]="false" [data]="tableData" [columns]="columns" (searchEvent)="handleSearch($event)"
      [title]="'sources.sources' | translate" (doAction)="tableAction($event)"
      (paginationEvent)="onPageChange($event)"></app-basic-table-three>
  </div>
</section>