<section>
    <form [formGroup]="userForm">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5">

            <div>
                <app-label>{{ 'users.full_name' | translate }}</app-label>
                <app-input-field placeholder="{{ 'users.full_name' | translate }}" formControlName="name"
                    className="form-input">
                </app-input-field>
            </div>
            <div>
                <app-label>{{ 'users.email' | translate }}</app-label>
                <app-input-field [type]="'email'" placeholder="{{ 'users.email' | translate }}" formControlName="email"
                    className="form-input">
                </app-input-field>
            </div>
            <div>
                <app-label>{{ 'users.account_type' | translate }}</app-label>
                <app-select formControlName="title_id" [options]="titles"></app-select>

            </div>
            <div>
                <app-label>{{ 'users.department' | translate }}</app-label>
                <app-select formControlName="department_id" [options]="departments"></app-select>

            </div>
            <div>
                <app-label>{{ 'users.phone' | translate }}</app-label>
                <app-phone-input formControlName="mobile"></app-phone-input>

            </div>

            <div>
                <app-label>{{ "users.password" | translate }} <span class="text-error-500">*</span></app-label>
                <div class="relative">
                    <app-input-field [type]="showPassword1 ? 'text' : 'password'"
                        placeholder="{{ 'users.enter_password' | translate }}" formControlName="password"
                        className="form-input"></app-input-field>
                    <span (click)="togglePasswordVisibility1()"
                        class="absolute z-30 -translate-y-1/2 cursor-pointer ltr:right-4 rtl:left-4 top-1/2">
                        <ng-container *ngIf="showPassword1; else hideIcon">
                            <!-- Show Icon SVG -->
                            <svg width="1em" height="1em" class="fill-gray-500 dark:fill-gray-400 size-5"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10 13.862c-2.767 0-5.133-1.725-6.077-4.16C4.867 7.268 7.233 5.543 10 5.543c2.767 0 5.133 1.725 6.077 4.16-0.944 2.435-3.31 4.16-6.077 4.16zM10 4.043c-3.518 0-6.505 2.266-7.584 5.417C2.362 9.617 2.362 9.788 2.416 9.945 3.495 13.096 6.482 15.362 10 15.362c3.518 0 6.505-2.266 7.584-5.417 0.054-0.157 0.054-0.328 0-0.486C16.505 6.309 13.518 4.043 10 4.043zM9.992 7.844C8.966 7.844 8.134 8.676 8.134 9.702 8.134 10.728 8.966 11.561 9.992 11.561h0.014c1.026 0 1.858-0.832 1.858-1.858 0-1.026-0.832-1.858-1.858-1.858h-0.014z" />
                            </svg>
                        </ng-container>
                        <ng-template #hideIcon>
                            <!-- Hide Icon SVG -->
                            <svg width="1em" height="1em" class="fill-gray-500 dark:fill-gray-400 size-5"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M4.638 3.577c-0.293-0.293-0.768-0.293-1.061 0-0.293 0.293-0.293 0.768 0 1.061l1.276 1.276C3.746 6.842 2.894 8.064 2.416 9.459 2.362 9.617 2.362 9.788 2.416 9.946 3.495 13.096 6.482 15.362 10 15.362c1.255 0 2.442-0.288 3.499-0.802l1.863 1.863c0.293 0.293 0.768 0.293 1.061 0 0.293-0.293 0.293-0.768 0-1.061L4.638 3.577zM12.361 13.421l-1.914-1.914c-0.141 0.035-0.289 0.053-0.441 0.053h-0.015c-1.026 0-1.858-0.832-1.858-1.858 0-0.156 0.02-0.308 0.056-0.452L5.919 6.979c-0.884 0.711-1.578 1.648-1.996 2.724 0.944 2.435 3.31 4.161 6.077 4.161 0.833 0 1.629-0.156 2.361-0.44zM16.077 9.702c-0.293 0.754-0.722 1.441-1.257 2.029l1.061 1.061C16.632 11.981 17.219 11.014 17.585 9.946 17.639 9.788 17.639 9.617 17.585 9.459 16.505 6.309 13.518 4.043 10 4.043c-0.865 0-1.697 0.137-2.478 0.39l1.229 1.229c0.404-0.079 0.822-0.12 1.249-0.12 2.767 0 5.132 1.725 6.077 4.16z" />
                            </svg>
                        </ng-template>
                    </span>
                </div>

            </div>
            <div>
                <app-label>{{ "users.confirm_password" | translate }} <span class="text-error-500">*</span></app-label>
                <div class="relative">
                    <app-input-field [type]="showPassword2 ? 'text' : 'password'"
                        placeholder="{{ 'users.enter_confirm_password' | translate }}"
                        formControlName="password_confirmation" className="form-input"></app-input-field>
                    <span (click)="togglePasswordVisibility2()"
                        class="absolute z-30 -translate-y-1/2 cursor-pointer ltr:right-4 rtl:left-4 top-1/2">
                        <ng-container *ngIf="showPassword2; else hideIcon">
                            <!-- Show Icon SVG -->
                            <svg width="1em" height="1em" class="fill-gray-500 dark:fill-gray-400 size-5"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10 13.862c-2.767 0-5.133-1.725-6.077-4.16C4.867 7.268 7.233 5.543 10 5.543c2.767 0 5.133 1.725 6.077 4.16-0.944 2.435-3.31 4.16-6.077 4.16zM10 4.043c-3.518 0-6.505 2.266-7.584 5.417C2.362 9.617 2.362 9.788 2.416 9.945 3.495 13.096 6.482 15.362 10 15.362c3.518 0 6.505-2.266 7.584-5.417 0.054-0.157 0.054-0.328 0-0.486C16.505 6.309 13.518 4.043 10 4.043zM9.992 7.844C8.966 7.844 8.134 8.676 8.134 9.702 8.134 10.728 8.966 11.561 9.992 11.561h0.014c1.026 0 1.858-0.832 1.858-1.858 0-1.026-0.832-1.858-1.858-1.858h-0.014z" />
                            </svg>
                        </ng-container>
                        <ng-template #hideIcon>
                            <!-- Hide Icon SVG -->
                            <svg width="1em" height="1em" class="fill-gray-500 dark:fill-gray-400 size-5"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M4.638 3.577c-0.293-0.293-0.768-0.293-1.061 0-0.293 0.293-0.293 0.768 0 1.061l1.276 1.276C3.746 6.842 2.894 8.064 2.416 9.459 2.362 9.617 2.362 9.788 2.416 9.946 3.495 13.096 6.482 15.362 10 15.362c1.255 0 2.442-0.288 3.499-0.802l1.863 1.863c0.293 0.293 0.768 0.293 1.061 0 0.293-0.293 0.293-0.768 0-1.061L4.638 3.577zM12.361 13.421l-1.914-1.914c-0.141 0.035-0.289 0.053-0.441 0.053h-0.015c-1.026 0-1.858-0.832-1.858-1.858 0-0.156 0.02-0.308 0.056-0.452L5.919 6.979c-0.884 0.711-1.578 1.648-1.996 2.724 0.944 2.435 3.31 4.161 6.077 4.161 0.833 0 1.629-0.156 2.361-0.44zM16.077 9.702c-0.293 0.754-0.722 1.441-1.257 2.029l1.061 1.061C16.632 11.981 17.219 11.014 17.585 9.946 17.639 9.788 17.639 9.617 17.585 9.459 16.505 6.309 13.518 4.043 10 4.043c-0.865 0-1.697 0.137-2.478 0.39l1.229 1.229c0.404-0.079 0.822-0.12 1.249-0.12 2.767 0 5.132 1.725 6.077 4.16z" />
                            </svg>
                        </ng-template>

                    </span>
                </div>

            </div>
        </div>
        <!-- Buttons -->
        <div class="mt-10 flex justify-between">
            <app-button type="button" (clicked)="onSubmit()" [size]="'md'" className="w-40">
                {{ (!isUpdatePage ? 'forms.add': 'forms.edit') | translate }}
            </app-button>

            <app-button type="button" [variant]="'outline'" [size]="'md'" className="w-40" (clicked)="goback()">
                {{ 'forms.back' | translate }}
            </app-button>
        </div>
    </form>
</section>