<section>
    <form [formGroup]="userForm">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5">

            <div>
                <app-label>{{ 'users.full_name' | translate }}</app-label>
                <app-input-field placeholder="{{ 'users.full_name' | translate }}" formControlName="name"
                    className="form-input">
                </app-input-field>
            </div>
            <div>
                <app-label>{{ 'users.email' | translate }}</app-label>
                <app-input-field [type]="'email'" placeholder="{{ 'users.email' | translate }}" formControlName="email"
                    className="form-input">
                </app-input-field>
            </div>
            <div>
                <app-label>{{ 'users.account_type' | translate }}</app-label>
                <app-select formControlName="title_id" [options]="titles"></app-select>

            </div>
            <div>
                <app-label>{{ 'users.department' | translate }}</app-label>
                <app-select formControlName="department_id" [options]="departments"></app-select>

            </div>
            <div>
                <app-label>{{ 'users.phone' | translate }}</app-label>
                <app-phone-input formControlName="mobile"></app-phone-input>

            </div>

            <div>
                <app-label>{{ "users.password" | translate }} <span class="text-error-500">*</span></app-label>
                <div class="relative">
                    <app-input-field [type]="showPassword1 ? 'text' : 'password'"
                        placeholder="{{ 'users.enter_password' | translate }}" formControlName="password"
                        className="form-input"></app-input-field>

                </div>

            </div>
            <div>
                <app-label>{{ "users.confirm_password" | translate }} <span class="text-error-500">*</span></app-label>
                <div class="relative">
                    <app-input-field [type]="showPassword2 ? 'text' : 'password'"
                        placeholder="{{ 'users.enter_confirm_password' | translate }}"
                        formControlName="password_confirmation" className="form-input"></app-input-field>

                </div>

            </div>
        </div>
        <!-- Buttons -->
        <div class="mt-10 flex justify-between">
            <app-button type="button" (clicked)="onSubmit()" [size]="'md'" className="w-40">
                {{ (!isUpdatePage ? 'forms.add': 'forms.edit') | translate }}
            </app-button>

            <app-button type="button" [variant]="'outline'" [size]="'md'" className="w-40" (clicked)="goback()">
                {{ 'forms.back' | translate }}
            </app-button>
        </div>
    </form>
</section>